<!-- app.component.html -->
<form *ngIf="myForm"  [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <label for="formName" style="text-align:center">Registration form</label>

    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" />

    <label for="phone">Phone:</label>
    <input type="text" id="phone" formControlName="phone" />

    <label for="city">City:</label>
    <input type="text" id="city" formControlName="city" />

    <label for="date">Date:</label>
    <input type="date" id="date" formControlName="date" />

    <button type="submit">Submit</button>
</form>