
<div class="row mt-5">
    <div class="col-md-9 offset-md-1">
        <div class="card shadow">
            <div class="card-body text text-center">
                <h3 class="redClour"> Help us save the needful! </h3>
                <br>
                <span class=""> There are endless of benefits of blood donation for the ones who are in need </span>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-3 offset-md-1">
        <div class="card shadow">
            <div class="card-body background text text-center">
                <span class=""> Reduce a stress</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body background text text-center">
                <span class=""> Improve your emotional well being </span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body background text text-center">
                <span class=""> Free checkup </span>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-9 offset-md-1">
        <div class="card shadow">
            <div class="card-body">
                <span class="redClour"> Free checkup includes: </span>
                <ul>
                    <li>Pulse</li>
                    <li>Blood pressure</li>
                    <li>Blood temperature</li>
                    <li>Hemoglobin level</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="card-body">
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <button [routerLink]="['/register']" style="flex-basis: 250px;" class="btn btn-outline-dark">Register</button>
    </div>
</div>

