.custom-nav {
    background-color: rgb(205, 32, 32);
    /* background-color: rgb(247, 107, 137); */
    color: whitesmoke;
}

.nav-link:hover {
    border-bottom: 2px solid black;
    background-color: whitesmoke;
}